{% extends 'base.html' %}


{% block title %}
<title>通知 | Fossen的博客</title>
{% endblock title %}

{% block main %}
<div class="container">
    <div class="row">
        <div class="col-lg-12">
            <div class="white-board notice-list">
                <div class="title">通知
                    {% if user.id == 2 %}
                    <a href="{% url 'account:commment_notices' %}" style="margin-left: 2rem;">
                        文章评论
                    </a>
                    {% endif %}
                </div>
                {% for notice in notices %}
                <div class="notice-item">
                    <a class="avatar">
                        {% with avatar=notice.user.profile.avatar %} {% if avatar %}
                        <img src="{{ avatar.name }} " atl="avator"> {% else %}
                        <i class="fa fa-user fa-2x"></i>
                        {% endif %} {% endwith %}
                    </a>
                    <a class="username">{{ notice.user.username }}</a>
                    <span>在文章<a href="{{ notice.comment.article.get_absolute_url }}">《{{ notice.comment.article.title }}》</a>中回复了你</span>
                    <br><time>{{ notice.time }}&emsp;</time>
                    <div class="content">{{ notice.content }}</div>
                </div>
                {% endfor %}
                {% if is_paginated %}
                <div class="f-pagination">
                    {% if first %}
                    <a href="?page=1">1</a>
                    {% endif %} {% if left %} {% if left_has_more %}
                    <span>...</span>
                    {% endif %} {% for i in left %}
                    <a href="?page={{ i }}">{{ i }}</a>
                    {% endfor %} {% endif %}
                    <a class="current-page" href="?page={{ page_obj.number }}">{{ page_obj.number }}</a>
                    {% if right %} {% for i in right %}
                    <a href="?page={{ i }}">{{ i }}</a>
                    {% endfor %} {% if right_has_more %}
                    <span>···</span>
                    {% endif %} {% endif %} {% if last %}
                    <a href="?page={{ paginator.num_pages }}">{{ paginator.num_pages }}</a>
                    {% endif %}
                </div>
                {% endif %}
            </div>
        </div>
    </div>
</div>
{% endblock main %}