*__pycache__
*.pyc
fossensite/privacy.py
/media
/caches
node_modules
static/simditor
static/admin
static/js
templates/index.html
/fossensite-react/README.md
/fossensite-react/package-lock.json
/fossensite-react/public/static/
/fossensite-react/public/manifest.json
/fossensite-react/build
