{% extends "base.html" %}

{% block title %}
<title>登录 | Fossen的博客</title>
{% endblock title %}

{% block main %}
<div class="container">
    <div class="row">
        <div class="col-lg-12">
            <div class="white-board">
                <div class="login flex-center">
                    <div class="title">用户登录</div>
                    {% if form.errors %}
                    <p>用户名和密码不匹配，请重试！</p>
                    {% endif %}
                    {% if next %}
                    <p>登录后继续浏览</p>
                    {% endif %}
                    <form class="flex-center" method="post" action="">
                        {% csrf_token %}
                        <table>
                            <tr>
                                <td>{{ form.username.label_tag }}</td>
                                <td>{{ form.username }}</td>
                            </tr>
                            <tr>
                                <td>{{ form.password.label_tag }}</td>
                                <td>{{ form.password }}</td>
                            </tr>
                        </table>
                        <input class="button" type="submit" value="登录" />
                        <input type="hidden" name="next" value="{{ next }}" />
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}