.simditor.simditor-html .simditor-wrapper > textarea {
  display: block !important;
}
.simditor.simditor-html .simditor-body,
.simditor.simditor-html .simditor-placeholder {
  display: none;
}
.simditor-body p, .simditor-body li { font-size:16px; }
.simditor-body h2 { background-color: white; }
.simditor-body h5 { text-transform: none; }