{% extends 'base.html' %} {% load blog_tags %} {% load cache %}

{% block title %}
<title>搜索 | Fossen的博客</title>
{% endblock title %}

{% block script %}
<script src="/static/blog/js/article_list.js"></script>
{% endblock script %}

{% block main %} {% cache 1800 article_search cache_id %}
<div class="container">
    <div class="row">
        <div class="col-lg-12">
            <div class="white-board article-list">
                <div class="search-result">关键词：{{ q }}&emsp;搜索结果 共{{ paginator.count }}条</div>
                {% for article in articles %} {% with article_url=article.get_absolute_url %}
                <article>
                    <div class="row">
                        {% if article.cover %}
                        <div class="col-lg-4 cover">
                            <div class="zoom-container flex-center">
                                <a href="{{ article_url }}">
                                    <img src="{{ article.cover.url }}">
                                </a>
                            </div>
                        </div>
                        <div class="col-lg-8 info">
                            <div class="title">
                                <a href="{{ article_url }}">{{ article.title }}</a>
                            </div>
                            <div class="abstract">
                                {{ article.content|striptags|truncatechars:100|safe }}&emsp;
                                <a href="{{ article_url }}">阅读全文 &gt;</a>
                            </div>
                            <div class="meta">
                                {{ article.pub_date }}&emsp;{{ article.views }} 阅读&emsp;分类:&nbsp;
                                <a href="{% url 'blog:category' article.category.id %}">
                                    {{ article.category }}
                                </a>&emsp;话题:&nbsp;{% for topic in article.topics.all %}
                                <a href="{% url 'blog:topic' topic.id %}">{{ topic.name }}</a>&nbsp;{% endfor %}
                            </div>
                        </div>
                        {% else %}
                        <div class="col-lg-12 info">
                            <div class="title">
                                <a href="{{ article_url }}">{{ article.title }}</a>
                            </div>
                            <div class="abstract">
                                {{ article.content|striptags|truncatechars:150|safe }}&emsp;
                                <a href="{{ article_url }}">阅读全文 &gt;</a>
                            </div>
                            <div class="meta">
                                {{ article.pub_date }}&emsp;{{ article.views }} 阅读&emsp;分类:&nbsp;
                                <a href="{% url 'blog:category' article.category.id %}">
                                    {{ article.category }}
                                </a>&emsp;话题:&nbsp;{% for topic in article.topics.all %}
                                <a href="{% url 'blog:topic' topic.id %}">{{ topic.name }}</a>&nbsp;{% endfor %}
                            </div>
                        </div>
                        {% endif %}
                    </div>
                </article>
                {% endwith %} {% empty %}
                <article>
                    <div class="row">
                        <div class="col-lg-12 empty flex-center">
                            <div class="title">未找到相关的文章，试一试别的关键词？</div>
                            <form method="get" action="/article/search/">
                                <input name="q" type="text" required placeholder="Search..." />
                            </form>
                        </div>
                    </div>
                </article>
                {% endfor %} {% if is_paginated %}
                <div class="f-pagination">
                    {% if first %}
                    <a href="?page=1">1</a>
                    {% endif %} {% if left %} {% if left_has_more %}
                    <span>...</span>
                    {% endif %} {% for i in left %}
                    <a href="?page={{ i }}">{{ i }}</a>
                    {% endfor %} {% endif %}
                    <a class="current-page" href="?page={{ page_obj.number }}">{{ page_obj.number }}</a>
                    {% if right %} {% for i in right %}
                    <a href="?page={{ i }}">{{ i }}</a>
                    {% endfor %} {% if right_has_more %}
                    <span>···</span>
                    {% endif %} {% endif %} {% if last %}
                    <a href="?page={{ paginator.num_pages }}">{{ paginator.num_pages }}</a>
                    {% endif %}
                </div>
                {% endif %}
            </div>
        </div>
    </div>
</div>
{% endcache %} {% endblock main %}