{% extends 'base.html' %} {% load blog_tags %} {% load cache %}

{% block title %}
<title>Fossen的博客</title>
{% endblock title %}

{% block main %}
{% cache 86400 home %}
<div class="container">
    <div class="row">
        <div class="col-lg-8">
            <div class="white-board article-list">
                <div class="list-title">最新文章</div>
                {% for article in articles %}
                {% with article_url=article.get_absolute_url %}
                <article>
                    <div class="row">
                        {% if article.cover %}
                        <div class="col-lg-4 cover">
                            <div class="zoom-container flex-center">
                                <a href="{{ article_url }}">
                                    <img src="{{ article.cover.url }}">
                                </a>
                            </div>
                        </div>
                        <div class="col-lg-8 info">
                            <div class="title">
                                <a href="{{ article_url }}">{{ article.title }}</a>
                            </div>
                            <div class="abstract">
                                {{ article.content|striptags|truncatechars:100|safe }}&emsp;
                                <a href="{{ article_url }}">阅读全文 &gt;</a>
                            </div>
                            <div class="meta">
                                {{ article.pub_date }}&emsp;{{ article.views }} 阅读&emsp;分类:&nbsp;
                                <a href="{% url 'blog:category' article.category.id %}">
                                    {{ article.category }}
                                </a>&emsp;话题:&nbsp;{% for topic in article.topics.all %}
                                <a href="{% url 'blog:topic' topic.id %}">{{ topic.name }}</a>&nbsp;{% endfor %}
                            </div>
                        </div>
                        {% else %}
                        <div class="col-lg-12 info">
                            <div class="title">
                                <a href="{{ article_url }}">{{ article.title }}</a>
                            </div>
                            <div class="abstract">
                                {{ article.content|striptags|truncatechars:150|safe }}&emsp;
                                <a href="{{ article_url }}">阅读全文 &gt;</a>
                            </div>
                            <div class="meta">
                                {{ article.pub_date }}&emsp;{{ article.views }} 阅读&emsp;分类:&nbsp;
                                <a href="{% url 'blog:category' article.category.id %}">
                                    {{ article.category }}
                                </a>&emsp;话题:&nbsp;{% for topic in article.topics.all %}
                                <a href="{% url 'blog:topic' topic.id %}">{{ topic.name }}</a>&nbsp;{% endfor %}
                            </div>
                        </div>
                        {% endif %}
                    </div>
                </article>
                {% endwith %}
                {% endfor %}
                <article>
                    <a href="{% url 'blog:category' 1 %}">更多文章 . . .</a>
                </article>
            </div>
        </div>
        <div class="col-lg-4">
            <div class="white-board widget">
                <h6 class="widget-title">Fossen</h6>
                <p><img src="{{ fossen.profile__avatar }}"></p>
                <p>{{ fossen.last_name }}</p>
                <ul class="social-list">
                    <li><a href="https://github.com/FossenWang">
                        <i class="fa fa-github fa-2x"></i>
                    </a></li>
                    <li><a href="https://www.zhihu.com/people/all-ming-yun/activities">
                        <span class="fa-stack" style="margin-top: 0;">
                        <i class="fa fa-circle fa-stack-2x"></i>
                        <i class="fa fa-stack-1x" style="font-weight: bold; color: white;">知</i>
                    </a></span></li>
                </ul>
            </div>
            <div class="white-board widget">
                <h6 class="widget-title">分类</h6>
                <ul class="category-widget">
                    <li>
                        <a href="{% url 'blog:category' 0 %}">
                            全部文章
                        </a>
                    </li>
                    {% get_article_category_names as categories %}
                    {% for cate in categories %}
                    <li>
                        <a href="{% url 'blog:category' cate.id %}">
                            {{ cate.name }}
                        </a>
                    </li>
                    {% endfor %}
                </ul>
            </div>
            <div class="white-board widget">
                <h6 class="widget-title">话题</h6>
                <div class="topic-widget">
                    {% get_topics as topics %}
                    {% for topic in topics %}
                    <a href="{% url 'blog:topic' topic.id %}">
                        {{ topic.name }}
                    </a>
                    {% endfor %}
                </div>
            </div>
            <div class="white-board widget">
                <h6 class="widget-title">友情链接</h6>
                <div class="topic-widget">
                    {% for link in links %}
                    <a href="{{ link.url }}" target="_blank">
                        {{ link.name }}
                    </a>
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>
</div>
{% endcache %}
{% endblock main %}