{% extends 'base.html' %} {% load blog_tags %} {% block main %}
<div class="container">
    <div class="row">
        <div class="col-lg-4 order-lg-2">
            <div class="white-board widget">
                <h6 class="widget-title">关于Fossen</h6>
                <p>不知道写些什么。。。</p>
            </div>
            <div class="white-board widget">
                <h6 class="widget-title">分类</h6>
                <ul class="category-widget">
                    <li>
                        <a href="{% url 'blog:category' 0 %}">
                            全部文章
                        </a>
                    </li>
                    {% get_article_category_names as categories %}
                    {% for cate in categories %}
                    <li>
                        <a href="{% url 'blog:category' cate.pk %}">
                            {{ cate.name }}
                        </a>
                    </li>
                    {% endfor %}
                </ul>
            </div>
            <div class="white-board widget">
                <h6 class="widget-title">话题</h6>
                <div class="topic-widget">
                    {% get_topics as topics %}
                    {% for topic in topics %}
                    <a href="{% url 'blog:topic' topic.pk %}">
                        {{ topic.name }}
                    </a>
                    {% endfor %}
                </div>
            </div>
        </div>
        <div class="col-lg-8 order-lg-1">
            <div class="white-board ariticle-list">
                <div class="list-title">最新文章</div>
                {% for article in articles %}
                <article>
                    <div class="row">
                        {% if article.cover %}
                        <div class="col-lg-4 cover">
                            <div class="zoom-container">
                                <a href="{{ article.get_absolute_url }}">
                                    <img src="{{ article.cover.url }}">
                                </a>
                            </div>
                        </div>
                        <div class="col-lg-8 info">
                            <div class="title">
                                <a href="{{ article.get_absolute_url }}">{{ article.title }}</a>
                            </div>
                            <div class="abstract">
                                {{ article.content|striptags|truncatechars:100|safe }}&emsp;
                                <a href="{{ article.get_absolute_url }}">阅读全文 &gt;</a>
                            </div>
                            <div class="meta">
                                {{ article.pub_date }}&nbsp;&nbsp; 分类:&nbsp;
                                <a href="{% url 'blog:category' article.category.pk %}">
                                    {{ article.category }}
                                </a>&emsp;话题:&nbsp;{% for topic in article.topics.all %}
                                <a href="{% url 'blog:topic' topic.pk %}">{{ topic.name }}</a>&nbsp;{% endfor %}
                            </div>
                        </div>
                        {% else %}
                        <div class="col-lg-12 info">
                            <div class="title">
                                <a href="{{ article.get_absolute_url }}">{{ article.title }}</a>
                            </div>
                            <div class="abstract">
                                {{ article.content|striptags|truncatechars:150|safe }}&emsp;
                                <a href="{{ article.get_absolute_url }}">阅读全文 &gt;</a>
                            </div>
                            <div class="meta">
                                {{ article.pub_date }}&nbsp;&nbsp; 分类:&nbsp;
                                <a href="{% url 'blog:category' article.category.pk %}">
                                    {{ article.category }}
                                </a>&emsp;话题:&nbsp;{% for topic in article.topics.all %}
                                <a href="{% url 'blog:topic' topic.pk %}">{{ topic.name }}</a>&nbsp;{% endfor %}
                            </div>
                        </div>
                        {% endif %}
                    </div>
                </article>
                {% endfor %}
                <article>
                    <a href="{% url 'blog:category' 0 %}">更多文章 . . .</a>
                </article>
            </div>
        </div>
    </div>
</div>
{% endblock main %}