{% load staticfiles %} {% load blog_tags %}
<!DOCTYPE html>
<html lang="zh">

<head>
    <meta charset="utf-8">
    <title>Fossen的博客</title>
    <link rel="shortcut icon" href="/static/favicon.ico">
    <meta name="description" content="Fossen's blog">
    <meta name="author" content="Fossen">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <link href="https://cdn.bootcss.com/bootstrap/4.0.0-beta.3/css/bootstrap.css" rel="stylesheet">
    <link href="https://cdn.bootcss.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">
    <script src="https://cdn.bootcss.com/jquery/3.2.1/jquery.js"></script>
    <script src="https://cdn.bootcss.com/bootstrap/4.0.0-beta.3/js/bootstrap.js"></script>
    <script src="https://cdn.bootcss.com/fastclick/1.0.6/fastclick.min.js"></script>
    {% block script %} {% endblock script %}

    <link href="/static/public/css/style.css" rel="stylesheet">
    <script src="/static/public/js/common.js"></script>
</head>

<body>
    <header>
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <nav class="navbar navbar-expand">
                        <i class="fa fa-bars fa-lg menu-toggle"></i>
                        <a class="logo" href="/">FOSSEN</a>
                        <ul class="navbar-nav" id="menu">
                            <li>
                                <a href="/">首页</a>
                            </li>
                            <li>
                                <a href="{% url 'blog:category' 1 %}">文章</a>
                            </li>
                            {% get_article_category_names as acates %}
                            {% for cate in acates %}
                            <li>
                                <a href="{% url 'blog:category' cate.id %}">{{ cate.name }}</a>
                            </li>
                            {% endfor %}
                        </ul>
                        <div class="tools">
                            <i class="fa fa-search fa-lg"></i>
                            <form method="get" action="/article/search/" id="search">
                                <input name="q" type="text" required placeholder="Search..." />
                            </form>
                            <i class="fa fa-user fa-lg"></i>
                            <div id="userbar">
                                {% if user.is_authenticated %}
                                <a>{{ user.username }}</a>
                                <a href="{% url 'account:logout' %}?next={{ request.path }}">注销</a>
                                {% else %}
                                <a href="{% url 'account:login' %}?next={{ request.path }}">登录</a>
                                {% endif %}
                            </div>
                        </div>
                    </nav>
                </div>
            </div>
        </div>
    </header>
    <main>
        {% block main %} {% endblock main %}
    </main>
    <footer>
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="copy-right">© 2018 Fossen</div>
                    <div class="beian"><a href="http://www.miitbeian.gov.cn/">鄂ICP备18003155号-1</a></div>
                </div>
            </div>
        </div>
    </footer>
</body>

</html>