{% extends 'fitness/base.html' %}

{% block title %}
<title>{{ program.name }} | Fitness</title>
{% endblock title %}

{% block script %}
<script src="/static/fitness/js/program_edit.js"></script>
{% endblock script %}

{% block main %}
<div class="container">
    <div class="row">
        <div class="col-lg-9">
            <div class="white-board">
                <div class="breadcrumb-nav">
                    <a href="/">首页</a> &gt;
                    <a href="{% url 'fitness:program_list' 0 %}">训练方案</a> &gt;
                    <a href="{% url 'fitness:program_list' program.ptype.id %}">
                        {{ program.ptype }}
                    </a>
                </div>
                <form class="program-form" action="" method="post">
                    {% csrf_token %}
                    {{ form.as_p }}
                    <div class="training"></div>
                    <div class="submit">
                        <input type="submit" class="button" value="保存">
                    </div>
                </form>
            </div>
        </div>
        <div class="col-lg-3">
            <div class="white-board widget">
                <h6 class="widget-title">分类</h6>
                <ul class="category-widget">
                    <li>
                        <a>
                            占位
                        </a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>
{% endblock main %}